@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

html {
    scroll-behavior: smooth;
    font-family: 'Arial', sans-serif;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
}

input {
    outline: none;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./../public/fonts/openSans/OpenSans-ExtraBold.ttf');
    font-weight: 800;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./../public/fonts/openSans/OpenSans-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./../public/fonts/openSans/OpenSans-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./../public/fonts/openSans/OpenSans-Light.ttf');
    font-weight: 300;
}
/* Merriweather */

@font-face {
    font-family: 'Merriweather';
    src: url('./../public/fonts/merriweather/Merriweather-Black.ttf');
    font-weight: 900;
}

@font-face {
    font-family: 'Merriweather';
    src: url('./../public/fonts/merriweather/Merriweather-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Merriweather';
    src: url('./../public/fonts/merriweather/Merriweather-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Merriweather';
    src: url('./../public/fonts/merriweather/Merriweather-Light.ttf');
    font-weight: 300;
}

/* Roboto */

@font-face {
    font-family: 'Roboto';
    src: url('./../public/fonts/roboto/Roboto-Black.ttf');
    font-weight: 900;
}

@font-face {
    font-family: 'Roboto';
    src: url('./../public/fonts/roboto/Roboto-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: url('./../public/fonts/roboto/Roboto-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('./../public/fonts/roboto/Roboto-Light.ttf');
    font-weight: 300;
}

/* Custom Scroll */

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 8px;
}
