.news {
    &:hover {
        .subNews {
            visibility: visible;
            opacity: 1;
        }
    }
}

.subNews {
    position: absolute;
    visibility: hidden;
    width: 234px;
    height: max-content;
    background: white;
    opacity: 0;
    z-index: 4000;
    transition: all linear 0.1s;
    top: 42px;
    left: 0;
}
